.card {
  margin: 25px 5px;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  background-size: cover !important;
  color: $white;
  height:250px;


  .avatar {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .city {
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: lighter;
    font-size: 23px;
  }

  .description {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .description h2 {
    font-weight: bold;
    font-size: 20px;
  }

  .description p {
    font-weight: lighter;
    font-size: 15px;
  }

}
